.cover {
  background-color: #f4f5f6;
}

.logo {
  width: 396px;
  height: 60px;
  background-color: #f72210;
}

.top {
  height: 95px;
  padding: 20px 10px 15px;
  color: white;
  background-color: #f72210;
}

.date {
  height: 34px;
  line-height: 34px;
  margin-left: 20px;
}

.validate {
  height: 26px;
  line-height: 14px;
  font-weight: 700;
  font-size: 18px;
}

.sign-in {
  color: white;
  padding: 6px 12px;
}

.subscribe {
  width: 138px;
  padding: 6px 10px;
  color: #f72210;
}

.form {
  position: absolute;
  right: 79px;
  top: 0;
}

#search {
  width: 61px;
  height: 50px;
  border: none;
  padding: 0;
}

.bottom {
  background-color: #fff;
}

.bottom::before {
  position: absolute;
  width: 78px;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.search-icon {
  background: url('https://g.newsweek.com/www/images/icon-search-glass.svg') center/contain no-repeat white;
  width: 20px;
  height: 20px;
}

.nav-content {
  padding: 7px 160px 7px 0;
}

.angle-bracket {
  width: 8px;
  height: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.title{
  font-size: 16px;
  line-height: 16px;
  color: rgba(3,3,3,.4);
  font-weight: 700;
}
li a.nav-link{
  color: black;
  font-size: 19px;
}

/*Main*/

main.container-fluid {
  padding: 20px 30px 0;
  background-color: #fff;
}

h5.card-title a {
  color: black;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
}

h5.card-title a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.more-stories img,
.latest-news img,
.img-135 {
  width: 135px;
}

.culture{
  background-color: #f4f5f6;
}

.culture .card-body{
  background-color: #f4f5f6;
}

.opinion a.test{
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1310px;
  }
}
